@{
    ViewBag.Title = "Chat";
}
<h2>Chat</h2>
<input type="hidden" id="displayname" />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
                <div class="panel-collapse collapse" id="collapseOne">
                    <div class="panel-body">
                        <ul class="chat">
                            @*<li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&text=CL" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Client1</strong> 
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="pull-right primary-font">Client2</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>14 mins ago
                                        </small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>*@
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat">
                                    Send
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->



    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.chatHub;
            // Create a function that the hub can call back to display messages.
            chat.client.addNewMessageToPage = function (name, message) {
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            chat.client.getMessage = function (name, message) {
                // Add the message to the page.
                $(".chat").append(


                            '<li class="left clearfix">'+
                                '<span class="chat-img pull-left">'+
                                    '<img src="http://placehold.it/50/55C1E7/fff&text=C'+name.substr(6,1)+'" alt="User Avatar" class="img-circle" />'+
                                '</span>'+
                                '<div class="chat-body clearfix">'+
                                    '<div class="header">'+
                                        '<strong class="primary-font">' + name + '</strong> <small class="pull-right text-muted">'+
                                            '<span class="glyphicon glyphicon-time"></span>14 mins ago</small></div>'+
                                    '<p>'+message+'</p>'+'</div>'+'</li>'

                            );
            };

            // Get the user name and store it to prepend to messages.
            $('#displayname').val(prompt('Enter your name:', ''));
            var test = $('#displayname').val();
           // debugger;
            // Set initial focus to message input box.
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#btn-chat').click(function () {
                    // Call the Send method on the hub.
                    if(test==="client2"){
                        chat.server.send('client1', $('#displayname').val(), $('#btn-input').val());

                        $(".chat").append(
                            '<li class="right clearfix">'+
                                '<span class="chat-img pull-right">'+
                                    '<img src=\"http://placehold.it/50/FA6F57/fff&text=ME\" alt="User Avatar" class="img-circle" />'+
                                '</span>'+
                                '<div class="chat-body clearfix">'+
                                 '<div class="header">'+
                                        '<strong class="pull-right primary-font">' + $('#displayname').val() + '</strong>' +
                                    '</div>'+
                                    '<p>' + $('#btn-input').val() +
                                    '</p>'+
                                '</div>' +
                            '</li>'

                            );

                        $('#btn-input').val('');
                    }
                    if (test === "client1"){
                        chat.server.send('client2', $('#displayname').val(), $('#btn-input').val());
                        $(".chat").append(
                            '<li class="right clearfix">' +
                                '<span class="chat-img pull-right">' +
                                    '<img src=\"http://placehold.it/50/FA6F57/fff&text=ME\" alt="User Avatar" class="img-circle" />' +
                                '</span>' +
                                '<div class="chat-body clearfix">' +
                                 '<div class="header">' +
                                        '<strong class="pull-right primary-font">' + $('#displayname').val() + '</strong>' +
                                    '</div>' +
                                    '<p>' + $('#btn-input').val() +
                                    '</p>' +
                                '</div>' +
                            '</li>'

                            );

                        $('#btn-input').val('');
                    }
                    // Clear text box and reset focus for next comment.
                    //chat.server.send( $('#displayname').val(), $('#message').val());
                    //$('#message').val('').focus();
                });
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }  
    </script>
}